.login-page h1 {
    z-index: 2;
    font-weight: normal;
    color: white;
    font-size: 130px;
    line-height: 100px;
    margin: 0;
    position: absolute;
    left: 5vh;
    top: calc(50vh - 100px);
}

h2 {
    font-weight: normal;
    margin: 0;
    font-size: 70px;
    margin-bottom: 50px;
}

h1 {
    transition: opacity .5s ease-in;
}

h1.hidden {
    opacity: -1;
}