.login-form {
    background: white;
    z-index: 2;
    width: calc(100% - 100px);
    border-radius: 5px;
    padding: 50px;
    position: absolute;
    top: -100vh;
    transition: top 0.7s ease;
}

.login-form-container {
    position: absolute;
    width: 30vw;
    right: 5vw;
    top: 0;
    bottom: 0;
    overflow: hidden;
}


a.form-link {
    display: block;
    font-size: 25px;
    text-align: center;
    color: #ababab;
    cursor: pointer;
}

.login-form.hidding {
    animation: hideLoginForm 1.2s;
}

.login-form.hidden {
    top: 150vh !important;
}

@keyframes hideLoginForm {
    0% {
        top: calc(50vh - var(--loginFormTop));
    }

    20% {
        top: calc(50vh - calc(var(--loginFormTop) + 50px));
    }

    100% {
        top: 150vh;
    }
}