.file-list-item.go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    cursor: pointer;
}


.file-list-item:last-child {
    border: unset;
}

.file-list-item.go-back .file-icon {
    width: max-content;
    max-height: 45px;
    width: 45px;
    margin-left: 0;
    margin-right: 20px;
}

.file-list-item.go-back .file-icon svg {
    width: 45px;
    height: 45px;
}

.file-list-item.go-back span {
    color: black;
    text-align: center;
    width: max-content;
}

.file-list-item.new-folder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    cursor: pointer;
    background: #bae2ff;
}


.file-list-item.new-folder .file-icon {
    width: max-content;
    max-height: 45px;
    width: 45px;
    margin-left: 0;
    margin-right: 20px;
}

.file-list-item.new-folder .file-icon svg {
    width: 45px;
    height: 45px;
}

.file-list-item.new-folder span {
    text-align: center;
    width: max-content;
    color: white;
    font-size: 22px;
}

.file-list-item.new-folder .file-icon {
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.file-list-item.go-back svg {
    height: 45px;
}

.filter.right-click-menu-filter.inactive {
    display: none;
}
.filter.right-click-menu-filter{
    background: transparent;
}

.right-click-menu {
    position: absolute;
    display: flex;
    background: white;
    box-shadow: 0 0 5px #0000003b;
    padding: 15px;
    border-radius: 5px;
    flex-direction: column;
    z-index: 10;
}
.right-click-menu.inactive {display: none;}

.right-click-menu .file-icon {
    height: auto;
    width: auto;
}

.right-click-menu-item {
    display: flex;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
}

.right-click-menu-item svg {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}