.login-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #FF48D4, #00EDFF);
    overflow: hidden;
}

.login-background-wave {
    background-repeat: repeat no-repeat;
    position: absolute;
    width: 150vw;
    height: 150vh;
    transform: rotate(160deg);
    top: -50vh;
    left: -10vw;
    z-index: 1;
}